<!-- Esta clase container agrega márgenes a la izquierda y derecha (centrado).Y el estilo padding-top le da un espacio hacia arriba -->
<div class="container" style="padding-top: 120px;">
  <h3>Contactenos</h3>
  <div class="row">
    <div class="col-6">
      <form [formGroup] ="contactusForm">
        <div formGroupName="person">
          <div class="formGroup">
            <label>Nombre:</label>
            <input type="text" formControlName="firstname" class="form-control">
          </div>
          <div class="formGroup">
            <label>Apellido:</label>
            <input type="text" formControlName="lastname" class="form-control">
          </div>
        </div>

        <div class="formGroup">
          <label>Email:</label>
          <input type="text" formControlName="email" class="form-control">
        </div>
        <div class="formGroup">
          <label>Comentarios:</label>
          <textarea formControlName="message" class="form-control"></textarea>
        </div>
        <div class="formGroup">
          <button (click)="__onSubmit()" class="btn btn-primary">Enviar</button>
        </div>
        <!-- <div>
          <p>
            Datos del formulario: {{ contactusForm.value | json}}
          </p>
        </div> -->
      </form>
    </div>
    <div class="col-6">
      Espacio 2
    </div>
  </div>
</div>

