<!-- Esta clase container agrega márgenes a la izquierda y derecha (centrado).Y el estilo padding-top le da un espacio hacia arriba -->
<div class="container" style="padding-top: 120px;">
  <h3>Contactenos</h3>
  <div class="row">
    <div class="col-6">
      <form [formGroup] ="contactusForm">
        <div formGroupName="person">
          <div class="formGroup">
            <label>Nombre:</label>
            <input type="text" formControlName="firstname" class="form-control">
          </div>
          <div class="formGroup">
            <label>Apellido:</label>
            <input type="text" formControlName="lastname" class="form-control">
          </div>
        </div>

        <div class="formGroup">
          <label>Email:</label>
          <input type="text" formControlName="email" class="form-control">
        </div>
        <div class="formGroup">
          <label>Comentarios:</label>
          <textarea formControlName="message" class="form-control"></textarea>
        </div>
        <div class="formGroup">
          <button (click)="__onSubmit()" class="btn btn-primary">Enviar</button>
        </div>
        <!-- <div>
          <p>
            Datos del formulario: {{ contactusForm.value | json}}
          </p>
        </div> -->
      </form>
    </div>
    <div class="col-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.118183714488!2d-76.96509068536422!3d-12.104060991429154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad%20Peruana%20de%20Ciencias%20Aplicadas!5e0!3m2!1ses-419!2spe!4v1636096652500!5m2!1ses-419!2spe" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div>
        Teléfono: #### - ##### - ####
      </div>
    </div>
  </div>
</div>

